.tit{
	background-color: rgb(226,194,117);
	border-radius: 20px;
	margin-bottom: 40px;
	margin-top: 60px;
	text-align: center;
	width: 40%;
}

.productos{
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	height: 70%;
  justify-content:center;
  margin: 0 auto;
  margin-bottom: 50px;
	margin-top: 20px;
  width: 90%;
	
}



.producto{
	background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0 15px 30px 1px rgba(0,0,0,.8);
	border-radius: 100px;
	margin-bottom: 100px;
	margin-right: 40px;
  width: 25%;
}

.imagen{
	background-color: white;
  border-radius: 15px;
  height: 200px;
	overflow: hidden;
  position: relative;
	text-align: center;
}

.imagen img{
	height: 90%;
	position: relative;
  transition: all 0.5s;
	width: 60%;
}

.producto:hover .imagen img{
	height: 100%;
	position: relative;
  transition: all 0.5s;
	width: 80%;
}
.fav{
  color: black;
	font-size: 30px;
  left: 0;
	padding: 15px;
	position: absolute;
  top: 10px;
}

.fav:hover{
	color:rgb(218, 83, 0);
	cursor: pointer;
}
.imagen h2{
	color: transparent;
	padding:0px;
	position: absolute;
	right: 0;
  top: 10px;
	width: 20%;
}
.producto:hover .imagen h2{
	background-color: rgb(226,194,117);
	color: black;
	font-size: 30px;
}

.descripcion{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.descripcion h1{
	margin-top: auto;
	padding: 5px 15px;
  width: 100%;
}


.descripcion p{
	font-size: 15px;
	height: 150px;
	margin-top: auto;
	padding: 5px 30px;
  width: 100%;
}
.desc {
  color: #4E4E4E;
  font-size: 0.7em;
  margin-bottom: 10 px;
  margin-right: 25px;
  letter-spacing: 0;
  line-height: 1.6em;
  text-align: justify;
  text-transform: none;
}


.carrito{
  background-color: black;
  border: 1px solid black;
  border-radius: 25px;
  color: white;
	font-size: 20px;
  padding: 15px;
	
}
.carrito:hover{
  background-color: transparent;
  border: 1px solid black;
	box-shadow: 0 10px 30px 1px rgba(0,0,0,.8);
	color: black;
	cursor: pointer;
}
.ifr{
	height: 100%;
	width: 100%;
}
.carrito {

  cursor: pointer;
}

.panel {
	background-color: rgba(251,251,251,255);
  display:block;
  height: calc(100vh - 4rem);
  position: absolute;
  right: 0;
	text-align: center;
  width: 23vw;
	z-index: 600;
}

.cerrar{
font-size: 40px;
}

.cerrar:hover{
	cursor: pointer;
	font-size: 40px;
}